__pycache__/
*.pyc
*venv
*egg-info

.DS_Store

*.pem
*.key
*.cert
.env*
.vscode/
.env

*localnet*.sh
script.py
*.js

c*.sh
!ipfs-start.sh
!cluster-start.sh
start.sh

wandb/
!chunking/utils/wandb/

*.json

scripts/
logs/

*.txt
!requirements.txt
!package.json

*.csv
*.png
!assets/**/*.png

*.pkl
*.pickle

tests/v1*

!misc/**/*